/* line 1, ../../sass/module/module.scss */
.ui-header {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 50px;
  line-height: 50px;
  padding: 0 10px;
  background: #eee;
  background-image: url("../images/logo.png");
  background-repeat: no-repeat;
  background-size: 3em 3em;
  background-position: center;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

/* line 21, ../../sass/module/module.scss */
.ui-body {
  margin-top: 60px;
}

/* line 25, ../../sass/module/module.scss */
.ui-form {
  margin-left: -10px;
  margin-right: -10px;
  font-size: 1em;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
/* line 33, ../../sass/module/module.scss */
.ui-form .no-border {
  border: 0;
}
/* line 36, ../../sass/module/module.scss */
.ui-form .form-widget {
  width: 100%;
  height: 35px;
  line-height: 35px;
  padding: 0px 5px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
/* line 45, ../../sass/module/module.scss */
.ui-form .form-button {
  background-color: #f7be0f;
  font-weight: bold;
  border: 0;
  height: 35px;
  line-height: 35px;
}
/* line 52, ../../sass/module/module.scss */
.ui-form label {
  font-weight: bold;
}

/* line 57, ../../sass/module/module.scss */
.ui-footer {
  display: block;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 50px;
  line-height: 50px;
  padding: 0 10px;
  background: #454545;
  color: #fff;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

/* line 74, ../../sass/module/module.scss */
.align-right {
  text-align: right;
}
