<!DOCTYPE HTML>
<html>
    <head>
        <title>Bootstrap 101 Template</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Bootstrap -->
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap-theme.min.css">

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
        <![endif]-->
    </head>
    <body style="margin:20px;">
        <form role="form" id="hackday-form">
            <div class="form-group">
                <label for="teamName">Team Name</label>
                <input type="text" class="form-control" id="teamName" placeholder="Team Name">
            </div>
            
            <div class="form-group">
                <label for="members"></label>
                <input type="text" class="form-control" id="teamMembers" placeholder="Team Members">
            </div>
            <div class="form-group">
                <label for="twitterHandle"></label>
                <input type="text" class="form-control" id="twitterHandle" placeholder="@Hackday">
            </div>
            <div class="form-group">
                <label for="projectName"></label>
                <input type="text" class="form-control" id="projectName" placeholder="Project Name">
            </div>
            <div class="form-group">
                <label for="projectDesc"></label>
                <textarea class="form-control" id="projectDesc" rows=3 placeholder="Description"></textarea> 
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
        </form>
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="https://code.jquery.com/jquery.js"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js"></script>
        <script src={{ resolvePath("klass.js") }}></script>
        <script src={{ resolvePath("native5-sdk-ux-js.js") }}></script>
        <script src={{resolvePath("app.js")}}></script>
    </body>
    </html
