<!DOCTYPE HTML>
<html>
    <head>
        <meta charset="utf-8">
        <title>Thanks for registering</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
        <link rel="stylesheet" href={{ resolvePath("main.css") }}>
    </head>
    <body>
        <header class="ui-header"></header>
        <div class="ui-body">
            <h3>Thanks for registering</h3>
        </div>

        <footer class="ui-footer align-right">Powered by Native5&copy;</footer>

        <script src="//code.jquery.com/jquery-1.10.1.min.js"></script>
        <script src={{ resolvePath("klass.js") }}></script>
        <script src={{ resolvePath("native5-sdk-ux-js.js") }}></script>
        <script src={{ resolvePath("app.js") }></script>
    </body>
</html>
