.ui-header {
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 50px;
	line-height: 50px;
	padding: 0 10px;
	background: #eee;
	background-image: url("../images/logo.png");
	background-repeat: no-repeat;
	background-size: 3em 3em;
	background-position: center;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.ui-body {
	margin-top: 60px;
}

.ui-form {
	// border: 1px solid #ddd;
	margin-left: -10px;
	margin-right: -10px;
	font-size: 1em;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
	.no-border {
		border: 0;
	}
	.form-widget {
		width: 100%;
		height: 35px;
		line-height: 35px;
		padding: 0px 5px;
	    box-sizing: border-box;
	    -moz-box-sizing: border-box;
	    -webkit-box-sizing: border-box;
	}
	.form-button {
		background-color: #f7be0f;
		font-weight: bold;
		border: 0;
		height: 35px;
		line-height: 35px;
	}
	label {
		font-weight: bold;
	}
}

.ui-footer {
	display: block;
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 50px;
	line-height: 50px;
	padding: 0 10px;
	background: #454545;
	color: #fff;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.align-right {
	text-align: right;
}